<%- include ('./partials/head.html') %>
<body>
  <%- include ('./partials/navigation.html') %>

    <div class="form__title">
        <span class="material-icons">
            person_outline
            </span>
        <h3>Nuevo Reporte</h3>
        
    </div>
    <div class="form-container">
        <form action="/add" method="POST" class="form" id="form">
            <div class="form__item nombre">
                  <label for="nombre">Nombre</label>
                  <input
                    type="text"
                    name="nombre"
                    id="nombre"
                    required
                    
                  />
             <p class="form__input-error"></p>
              </div>
              <div class="form__item apellidos">
                <label for="apellidos">Apellidos</label>
                <input
                  type="text"
                  name="apellidos"
                  id="apellidos"
                  required
                  
                />
          <p class="form__input-error"></p>
            </div>
            <div class="form__item ci">
                <label for="ci">Carn&eacutet de Identidad</label>
                <input
                    type="text"
                    name="ci"
                    id="ci"
                    required
                  />
                
                <p class="form__input-error"></p>
              </div>
              <div class="form__item ul">
                <label>Ubicaci&oacuten Laboral</label>
                <div class="ulab">
                  <input type="radio" name="ul" id="ul-centro" value="centro" />
                  <label for="ul-centro"><small>Centro</small></label>
                  <input type="radio" name="ul" id="ul-cont" value="contornos" />
                  <label for="ul-cont"><small>Contornos</small></label>
                </div>
                <p class="form__input-error"></p>
              </div>
              <div class="form__item experiencia">
                <label for="experiencia">Años de Experiencia</label>
                 <input
                    type="number"
                    step="any"
                    name="experiencia"
                    id="experiencia"
                    min="0"
                    max="70"
                    required
                    
                  />
                
                <p class="form__input-error"></p>
              </div>
              <div class="form__item capago">
                
                <label for="capago">Capacidad de Pago</label>
                  <input
                    type="number"
                    name="capago" 
                    id="capago"
                    step="any"
                    min="0"
                    required
                  />
               
                <p class="form__input-error"></p>
              </div>
              <div class="form__item resFamiliar">
                <label for="resfamiliar">Responsabilidad Familiar</label>
                <input
                    type="number"
                    name="resfamiliar" 
                    id="resFamiliar"
                    step="any"
                    min="0"
                    required
                  />
        
                <p class="form__input-error">
                  
                </p>
              </div>
              <div class="form__item otrosIngresos">
                <label for="otrosIngresos">Otros Ingresos</label>
                <input
                    type="number"
                    name="otrosIngresos"
                    id="otrosIngresos"
                    step="any"
                    min="0"
                    required
                  />
                <p class="form__input-error"></p>
              </div>
              <div class="form__item escolaridad">
                <label>Escolaridad</label>
                <div class="escol">
                  <input
                    type="radio"
                    name="escolaridad"
                    id="nivel-superior"
                    value="superior"
                  />
        
                  <label for="nivel-superior"><small>Nivel Superior</small></label>
                  <br />
                  <input
                    type="radio"
                    name="escolaridad"
                    id="no-nivel-superior"
                    value="no-nivel-superior"
                  />
                  <label for="no-nivel-superior"><small>No Nivel Superior</small></label>
                </div>
                <p class="form__input-error">
                  
                </p>
              </div>
              <div class="form__item tasa">
                <label>Tasa</label>
                
                  <input
                    type="number"
                    name="tasa"
                    id="tasa"
                    step="any"
                    min="4.25"
                    max="35"
                    required
                  />
               
                <p class="form__input-error"></p>
              </div>
              <div class="form__item garantia">
                <label>Garant&iacutea</label>
                <div class="garant">
                  <input type="radio" name="garantia" id="garantia-real" value="garantia-real" />
                  <label for="garantia-real"><small>Garant&iacutea Real</small></label>
                  <br />
                  <input type="radio" name="garantia" id="respaldo-colateral" value="respaldo-colateral" />
                  <label for="respaldo-colateral"><small>Respaldo Colateral</small></label>
                </div>
                <p class="form__input-error">
                  
                </p>
              </div>
              <input type="hidden" id="isValid" name="isValid" value="">
              <input type="submit" class="btn-send" value="Enviar"></input>
        </form>
        
    </div>
    <%- include ('./partials/footer.html') %>

    <script src="js/navigation.js"></script>
    <script src="js/form-client.js"></script>
   
    <% if(typeof alert != "undefined"){%>
    <script>
      
      Swal.fire({
          title:'<%=alertTitle%>',
          text:'<%=alertMessage%>',
          icon:'<%=alertIcon%>',
          showConfirmButton: <%=showConfirmButton%>,
          timer: <%=timer%>,
      }).then(()=>{
          window.location = '/<%=ruta%>'
      })
    </script>
    <% } %>
</body>


