<%- include ('./partials/head.html') %>
<body>
  <%- include ('./partials/navigation.html') %>
  <div class="form__title">
    <span class="material-icons">
        help_outline
        </span>
    <h3>Ayuda</h3>
    
</div>
  <section class="help-container">
   <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas quidem
      porro debitis accusamus, aliquid veniam quibusdam qui doloribus
      dignissimos cumque voluptatem optio molestiae temporibus quisquam enim ab
      in sunt inventore!
    </p>
  </section>

  <%- include ('./partials/footer.html') %>
  <script src="js/navigation.js"></script>
</body>
