<%- include ('./partials/head.html') %>
<body>
    <%- include ('./partials/navigation.html') %>
   
    <main class="reports__container">
        <form class="reports__search" action="/search" method="POST">
            <input type="search" placeholder="Carnet de Identidad" name="search" id="search" class="search">
            <button class="btn-search"><span class="material-icons">
                search
            </span>
        </button>
    </form>
    <p class="search__input-error">Debe ser un numero de 11 digitos</p>
        <section class="reports__items">
         
           <% if (clients && clients.length !== 0) { %>
                  <% clients.forEach(client=> { %>
                      <%- include('./partials/client-card.html', {client}) %>
                  <% }) %>
          <%} else {%>
            <h3>No hay Datos que mostrar</h3>
          <%}%>

        </section>
    </main>
    
    <%- include ('./partials/footer.html') %>
    <script src="/js/navigation.js"></script>
    <script src="js/list-clients.js"></script>

    <% if(typeof alert != "undefined"){%>
        <script>
          
          Swal.fire({
              title:'<%=alertTitle%>',
              text:'<%=alertMessage%>',
              icon:'<%=alertIcon%>',
              showConfirmButton: <%=showConfirmButton%>,
              timer: <%=timer%>,
          }).then(()=>{
              window.location = '/<%=ruta%>'
          })
        </script>
        <% } %>
  
</body>
</html>