  <%- include ('./partials/head.html') %>
  <body>
    <%- include ('./partials/navigation.html') %>
    <div class="form__title">
      <span class="material-icons">
          add_circle_outline
          </span>
      <h3>Nuevo Operador</h3>
      
  </div>
    <div class="register-container">
    
    <form action="/register" method="POST" class="register__form">
      <div class="register__item">
        <input
        type="text"
        class="user"
        id="email"
        name="email"
        placeholder="  Correo Electronico"
      />
      <p class="form__input-error">* Campo inv&aacutelido</p>
      </div>
      <div class="register__item">
        <input
        type="text"
        class="name"
        id="name"
        name="name"
        placeholder="  Nombre completo"
      />
      <p class="form__input-error">* Campo inv&aacutelido</p>
      </div>
      <div class="register__item">
        <input
        type="password"
        class="pass"
        id="pass"
        name="pass"
        placeholder="  Contraseña"
      />
      <p class="form__input-error">* Campo inv&aacutelido</p>
      </div>
      <div class="register__item">
        <select name="rol" id="rol" class="rol">
          <option value="admin">Admin</option>
          <option value="data entry">Data Entry</option>
        </select>
      </div>
          
      <input type="submit" value="Enviar" class="btn-register" />
    </form>
    </div>
    <%- include ('./partials/footer.html') %>
    <script src="js/navigation.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>
    <% if(typeof alert != "undefined"){%>
    <script>
      
      Swal.fire({
          title:'<%=alertTitle%>',
          text:'<%=alertMessage%>',
          icon:'<%=alertIcon%>',
          showConfirmButton: <%=showConfirmButton%>,
          timer: <%=timer%>,
      }).then(()=>{
          window.location = '/<%=ruta%>'
      })
    </script>
    <% } %>
    <!-- <script src="js/register.js"></script> -->
  </body>
</html>
