.dashboard-container{
    height:500px;
    width: 100%;
    
}

.dashboard__user{
    height: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
}
.dashboard__user h2{
    color: var(--third-color);
    font-size: 1rem;
    margin-right: 10px;
    padding-top: 2px;
    
    
}

